#%RAML 1.0
title: Order Management System
version: 1.0
baseUri: http://api.oms.com
mediaType: application/json

/salesman:
 get:
      headers: 
       apikey: string
      description: Fetches all salesmen.
      displayName: Get all salesmen
      responses:
        200:
          body: 
            application/json:
              example: !include ../examples/Salesmen.raml
        400:
          body: 
            application/json:
              example: !include ../examples/400Example.raml
        404:
          body: 
            application/json:
              example: !include ../examples/404Example.raml
        503:
          body: 
            application/json:
              example: !include ../examples/503Example.raml
 post:
     headers:
       apikey: string
     description: Create new salesman.
     displayName: Create a new salesman
     body:
      application/json:
        schema: |
         {
          "title": "Salesman Schema",
          "type": "object",
          "properties": {
            "salesman_id": {
              "type": "number"
            },
            "salesman_name": {
              "type": "string"
            },
            "city": {
              "type":"string"
            },
            "commission": {
              "type": "number"
            }
          },
          "required": ["salesman_id", "salesman_name", "city", "commission"]
         }
        example: !include ../examples/Salesman.raml
     responses: 
          201:
            body: 
              application/json:
                example: |
                  {
                    "response": "Resource created"
                  }
          400:
            body: 
              application/json:
                example: !include ../examples/400Example.raml
          404:
            body: 
              application/json:
                example: !include ../examples/404Example.raml
          503:
            body: 
              application/json:
                example: !include ../examples/503Example.raml
 /{ID}:
    get:
          headers: 
           apikey: string
          description: Fetch particular salesman details.
          displayName: Get particular salesman details.
          responses:
            200:
              body: 
                application/json:
                  example: !include ../examples/Salesmen.raml
            400:
              body: 
                application/json:
                  example: !include ../examples/400Example.raml
            404:
              body: 
                application/json:
                  example: !include ../examples/404Example.raml
            503:
              body: 
                application/json:
                  example: !include ../examples/503Example.raml
    patch:
          headers: 
           apikey: string
          description: Update salesman commission.
          displayName: Update salesman commission.
          body:
           application/json:
             schema: |
              {
                "title": "Salesman Schema",
                "type": "object",
                "properties": {
                  "commission": {
                    "type": "number"
                  }
                },
                "required": ["commission"]
              }
          responses:
            204:
              body: 
                application/json:
                  example: {}
            400:
              body: 
                application/json:
                  example: !include ../examples/400Example.raml
            404:
              body: 
                application/json:
                  example: !include ../examples/404Example.raml
            503:
              body: 
                application/json:
                  example: !include ../examples/503Example.raml
    delete:
          headers: 
           apikey: string
          description: Remove salesman entity.
          displayName: Delete salesman.
          responses: 
            204:
              body: 
                application/json:
                  example: {}
            400:
              body: 
                application/json:
                  example: !include ../examples/400Example.raml
            404:
              body: 
                application/json:
                  example: !include ../examples/404Example.raml
            503:
              body: 
                application/json:
                  example: !include ../examples/503Example.raml          