#%RAML 1.0
title: Order Management System
version: 1.0
baseUri: http://api.oms.com
mediaType: application/json

/supplier:
  get:
      headers: 
       apikey: string
      description: Fetches all suppliers available.
      displayName: Get all suppliers
      responses:
        200:
          body: 
            application/json:
              example: !include ../examples/Suppliers.raml
        400:
          body: 
            application/json:
              example: !include ../examples/400Example.raml
        404:
          body: 
            application/json:
              example: !include ../examples/404Example.raml
        503:
          body: 
            application/json:
              example: !include ../examples/503Example.raml
  post:
      headers: 
       apikey: string
      description: Adds new supplier.
      displayName: Add new supplier
      body:
       application/json:
         schema: |
          {
            "title": "Supplier Schema",
            "type": "object",
            "properties": {
              "CompanyName": {
                "type": "string"
              },
              "ContactName": {
                "type": "string"
              },
              "ContactTitle": {
                "type":"string"
              },
              "City": {
                "type":"string"
              },              
              "Country": {
                "type": "string"
              },
              "Phone": {
                "type": "number"
              }
            },
            "required": ["CompanyName", "ContactName", "ContactTitle", "City", "Country", "Phone"]            
          }
      responses:
          201:
            body: 
              application/json:
                example: |
                  {
                    "response": "Resource created"
                  }
          400:
            body: 
              application/json:
                example: !include ../examples/400Example.raml
          404:
            body: 
              application/json:
                example: !include ../examples/404Example.raml
          503:
            body: 
              application/json:
                example: !include ../examples/503Example.raml
  /{ID}:
    get:
      headers: 
       apikey: string
      description: Fetch requested supplier.
      displayName: Get requested supplier
      responses:
        200:
          body: 
            application/json:
              example: !include ../examples/Supplier.raml
        400:
          body: 
            application/json:
              example: !include ../examples/400Example.raml
        404:
          body: 
            application/json:
              example: !include ../examples/404Example.raml
        503:
          body: 
            application/json:
              example: !include ../examples/503Example.raml
    patch:
          headers: 
           apikey: string
          description: Update supplier contact name.
          displayName: Update supplier contact name.
          body:
           application/json:
             schema: |
              {
                "title": "Supplier Schema",
                "type": "object",
                "properties": {
                  "ContactName": {
                    "type": "string"
                  }
                },
                "required": ["ContactName"]
              }
          responses:
            204:
              body: 
                application/json:
                  example: {}
            400:
              body: 
                application/json:
                  example: !include ../examples/400Example.raml
            404:
              body: 
                application/json:
                  example: !include ../examples/404Example.raml
            503:
              body: 
                application/json:
                  example: !include ../examples/503Example.raml
    delete:
          headers: 
           apikey: string
          description: Remove supplier record.
          displayName: Delete supplier.
          responses: 
            204:
              body: 
                application/json:
                  example: {}
            400:
              body: 
                application/json:
                  example: !include ../examples/400Example.raml
            404:
              body: 
                application/json:
                  example: !include ../examples/404Example.raml
            503:
              body: 
                application/json:
                  example: !include ../examples/503Example.raml